.footer {
    background-color: $color-primary;
    color: $color-white;
    padding: 56px 0px 102px 0px;
    font-family: $font-lato;

    h2 {
        @include font($size: 5.2rem, $height: 6.7rem, $weight: 700); 
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        @include media-tablet {
            flex-direction: column;
        }
    }

    &__first {
        color: #F8F8F8;
        @include font($size: 1.6rem, $height: 2.6rem, $weight: 400);
        opacity: 0.85;
        width: 255px;
        @include media-tablet {
            width: 100%;
        }
        h2 {
            color: $color-white;
            margin-bottom: 16px;
        }
    }
    &__second {
        display: flex;
        column-gap: 68px;
        margin-top: 30px;
        @include media-laptop-2 {
            column-gap: 40px;
        }
        @include media-tablet {
            flex-wrap: wrap;
            column-gap:normal;
            row-gap: 20px;
            justify-content: space-between;
        }
    }
    &__icons {
        margin-top: 24px;
        display: flex;
        column-gap: 16px;
        a {
            &:hover {
                filter: invert(57%) sepia(75%) saturate(5343%) hue-rotate(347deg) brightness(101%) contrast(101%);
            }
        }
    }
    &__links {
        max-width: 212px;
        span {
            @include font($size: 2rem, $height: 3rem, $weight: 500);
            opacity: 0.5;
            margin-bottom: 24px;
            display: block;
        }
        a {
            @include font($size: 1.6rem, $height: 2.6rem, $weight: 400);
            color: $color-white;
            margin-bottom: 9px;
            display: block;
            &:hover{
                color: $color-orange;
            }
        }
    }
}

