.header {
    margin-top: 61px;
    margin-bottom: 56px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    &__logo {
        color: $color-primary;
        @include font($height: 3.2rem, $size: 2.4rem, $weight: 700);
        font-family: $font-secondary;
        width: 17%;
    }

    &__links {
        display: flex;
        padding-inline-start: 0px;
        list-style: none;
        column-gap: 40px;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-top: 10px;

        @media screen and (max-width: 768px) {
            display: none;
        }

        a {
            color: $color-primary;
            font-family: $font-lato;
            @include font($height: 2.8rem, $size: 1.6rem, $weight: 700);

            &:hover {
                color: $color-orange;
            }
        }
    }
}

.burger {
    display: none;
    z-index: 10;

    &_show {
        transform: rotate(-90deg);
        transition: all 0.5s linear;
        position: fixed;
        right: 53px;
        top: 40px;
    }



    span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-primary;
        transition: all 0.5s linear;

        &:nth-of-type(2) {
            top: calc(50% - 10px);
        }

        &:nth-of-type(3) {
            top: calc(50% + 10px);
        }
    }

    div {
        width: 30px;
        height: 22px;
        position: relative;
        overflow: hidden;
    }

    @media screen and (max-width: 768px) {
        display: block;

    }
}


.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;

    &_show {
        pointer-events: initial;
        background: rgba(41, 41, 41, 0.6);
        z-index: 1;

        .menu_content {
            transform: translateX(0) !important;
        }
    }

    .menu_content {
        position: fixed;
        background-color: $color-white;
        top: 0;
        right: 0px;
        width: 300px;
        box-sizing: border-box;
        height: 440px;
        transform: translateX(100%);
        transition: transform 0.5s linear;
        z-index: 1;
        padding: 30px 10px;

        li {
            list-style-type: none;

            a {
                color: $color-primary;
                font-family: $font-lato;
                @include font($height: 2.8rem, $size: 1.6rem, $weight: 700);
                text-decoration: none;
            }
        }

        nav {
            margin: auto;
            width: fit-content;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            align-items: center;
        }
    }
}