.intro {
    &__heading {
        display: flex;
        margin-top: 8px;
        justify-content: space-between;

        @include media-laptop-2 {
            display: block;
        }

        h4 {
            margin-top: 10px;
        }
    }
}


.intro__slider {
    margin-top: 33px;

    .flickity-page-dot {
        background-color: $color-white;
        color: $color-white;
        border: none;
        margin: 0px 4px;
        width: 16px;
        height: 4px;
        opacity: 0.5;
        border-radius: 0px;

    }
    .flickity-page-dot.is-selected {
        width: 40px;
        color: $color-orange;
        opacity: 1;
        background-color: $color-orange;
    }

    @include media-laptop-2 {
        img {
            width: 100%;
            height: auto;
        }
    }

    .flickity-page-dots {
        bottom: 37px;
    }

    .flickity-cell {
        filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    }
}