.spaces {

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        @include media-tablet {
            flex-wrap: wrap;
            row-gap: 20px;
            height: auto;
        }

        span {
            font-family: $font-lato;
            color: $color-grey-2;
            @include font($size: 1.8rem, $height: 2.8rem, $weight: 500);
            max-width: 452px;

            @include media-tablet {
                order: 3;

            }

            @include media-mobile {
                @include font($height: 1.8rem, $size: 1.6rem, $weight: 500);
            }
        }
    }

    h2 {
        width: 24%;

        @include media-tablet {
            width: auto;
        }
    }

    .slider__nav {
        align-self: flex-end;

        @include media-tablet {
            order: 2;
        }
    }
}

.spaces__slider {
    margin-top: 51px;
    height: 467px;


    &__img {
        position: relative;

        img {
            display: inline-block;
        }
    }

    &__element {
        margin-right: 30px;
        width: 350px;

        span {
            display: block;
            font-family: $font-lato;
            text-align: center;
            color: $color-black;
            margin: 25px auto;
            @include font($size: 2rem, $height: 2.4rem, $weight: 700);
        }

        .content_center {
            display: none;
        }
    }



    &__progress {
        margin: 44px auto 0px auto;

        div {
            font-family: $font-lato;
            color: $color-grey-1;
            margin: 7px auto 0px auto;
            @include font($size: 1.6rem, $height: 2.6rem, $weight: 400);
            width: 60px;
            text-align: center;

            span {
                @include font($size: 1.8rem, $height: 2.8rem, $weight: 500);
                color: $color-black;
            }
        }
    }
}

.center {
    height: 467px;
    background-color: $color-primary;




    &__img {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &__heading {
        font-family: $font-lora;
        text-align: center;
        color: $color-white;
        @include font($size: 3.2rem, $height: 4.1rem, $weight: 400);
        margin-top: 144px;
    }

    &__subheading {
        font-family: $font-lato;
        text-align: center;
        color: $color-white;
        max-width: 253px;
        margin: 14px auto;
        @include font($size: 1.8rem, $height: 2.8rem, $weight: 500);
    }

    .content_center {
        display: block;
    }

    .content {
        display: none;

    }
}

.content {

    .button_slider {
        bottom: 3px;
    }
}

.content_center {

    .button_slider {
        padding: 25px 28px 25px 53px;
    }
}

progress::-webkit-progress-bar {
    background-color: #DFDFDF;
    ;
}

progress::-webkit-progress-value {
    background-color: $color-orange;
}

progress {
    border-radius: 1px;
    height: 4px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.slick-arrow {
    cursor: pointer;
}