$color-primary: #10375C;
$color-black: #222831;
$color-orange: #FF5722;
$color-white: #FFFFFF;
$color-grey-1: #6A6A6A;
$color-grey-2: #9A9A9A;

$content-width: 1110px;


$laptop-width-1: 1220px;
$laptop-width-2: 1024px;
$tablet-width: 768px;


$mobile-big-width: 426px;
$mobile-small-width: 320px;

$font-lora: 'Lora';
$font-lato: "Lato";
$font-secondary: 'Playfair Display';


