@mixin font ($size, $height: $size, $weight: bold, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}


@mixin media-laptop {
    @media (max-width: $content-width) { @content; }
}




  
@mixin media-mobile {
    @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobilesmall {
    @media (max-width: $mobile-small-width) { @content; }
}


@mixin media-laptop-1 {
    @media (max-width: $laptop-width-1) { @content; }
}
@mixin media-laptop-2 {
    @media (max-width: $laptop-width-2) { @content; }
    
}
@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}